* {
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 121px;
  height: auto;
  position: relative;
  top: 18px;
  left: 153px;
}

.container {
  height: 75px;
  background-color: #1f2532;
  color: white;
  width: 100%;
  margin: 0 auto;
}

.bar {
  margin: 0 auto;
  height: 75px;
  color: white;
  width: 90%;
}

.buttons {
  float: right;
  position: relative;
  top: 18px;
  right: 70px;
}

.navigation {
  color: rgb(182, 184, 188);
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  float: left;
  margin: 10px 10px 10px 14px;
}

.signup {
  color: white;
  font-size: 13px;
  margin-left: 20px;
  border-radius: 2px;
  background-color: rgb(103, 200, 131);
  padding: 10px 22px;
  position: relative;
  top: -10px;
}
