* {
  margin: 0;
  box-sizing: border-box;
}

.prod-info header {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
}

form p {
  padding-top: 20px;
  padding-right: 50px;
}

.container {
  height: 750px;
  background-color: #1f2532;
  color: white;
  width: 100%;
  margin: 0 auto;
}

.content {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  margin: 0 auto;
  height: 600px;
  color: white;
  width: 1000px;
  overflow: hidden;
}

.content img {
  width: 121px;
  height: auto;
  position: relative;
  top: 18px;
}

.buttons {
  float: right;
  position: relative;
  top: 18px;
}

.navigation {
  color: rgb(182, 184, 188);
  font-size: 12.5px;
  float: left;
  margin: 10px 10px 10px 14px;
  text-decoration: none;
}

.signup {
  color: white;
  font-size: 13px;
  margin-left: 20px;
  border-radius: 2px;
  background-color: rgb(103, 200, 131);
  padding: 10px 22px;
  position: relative;
  top: -10px;
}

.product {
  margin-top: 170px;
  position: relative;
}

.prod-info {
  width: 50%;
  position: absolute;
  float: left;
  padding: 50px 20px 50px 0;
}

.prod-info p {
  font-size: 17px;
  color: rgb(182, 184, 188);
}

.prod-video {
  width: 50%;
  float: right;
}

.email {
  border: none;
  padding: 10px 50px;
  float: right;
  margin-left: 0;
  top: 0;
}

.box {
  float: left;
  background-color: white;
  height: 220px;
  border: 2px solid rgb(239, 239, 239);
  border-radius: 5px;
  width: 300px;
  margin: 50px 0 50px 33px;
  box-shadow: 0 5px 19px -6px rgba(236, 238, 242, 1);
}

.box header {
  color: black;
  font-weight: 400;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 30px;
}

.box img {
  margin-left: 30px;
  margin-top: 10px;
  width: 40px;
  background-color: rgb(61, 124, 201);
  padding: 11px;
  border-radius: 4px;
}

.box p {
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  color: rgb(139, 143, 154);
  margin-left: 30px;
  margin-top: 10px;
}

.part4 {
  position: absolute;
  top: 400px;
  width: 100%;
}

#vid {
  width: 500px;
  border-radius: 5px;
}

#play {
  width: 86px;
  position: absolute;
  top: 141px;
  right: 208px;
}

#input {
  width: 270px;
  height: 36px;
  color: lightgray;
  padding-left: 10px;
}

#three-column {
  position: absolute;
  top: 750px;
  background-color: rgb(248, 249, 253);
  height: 920px;
  width: 100%;
}

#icon3 {
  width: 40px;
  height: 38px;
}

#slack-info {
  width: 50%;
  float: left;
  position: absolute;
  left: 130px;
  top: 142px;
}

#slack-info header {
  color: black;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 19px;
}

#slack-info p {
  font-weight: 300;
  font-size: 16px;
  color: rgb(139, 143, 154);
  line-height: 23px;
}

#slack-img {
  float: right;
  position: absolute;
  right: 160px;
  width: 600px;
}

#button-4 {
  border: none;
  float: left;
  margin-top: 30px;
  margin-left: 0;
}
